:root {
  --bg: #0b0c10;
  --bgnav: #0b0c10;
  --text: #66FCF1;
  --dulltxt: #C5C6C7;
  --navbartxt: #45A29E;
  --inactive: #3E4248;

  --typewriterSpeed: 1s;
  --typewriterCharacters: 15;
}

@font-face {
  font-family: 'Apercu-B';
  src: url("fonts/Apercu\ Bold.otf");
}

@font-face {
  font-family: 'Apercu-M';
  src: url("fonts/Apercu\ Medium.otf");
}

@font-face {
  font-family: 'Apercu-R';
  src: url("fonts/Apercu\ Light.otf");
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--bg);
  font-family: 'Apercu-B', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

.header {
  background-color: var(--bgnav);
  border-bottom: 5px white;
  /* position: relative; */
  position: fixed;
  width: 100%;
  height: 6rem;
  padding: 0 5rem;
  z-index: 1;
}

.navbar .logo {
  font-family: 'Climate Crisis', cursive;
  font-size: 25px;
  font-weight: 400;
  color: var(--inactive);
  background-color: var(--bgnav);
}

.navbar .logo span{  
  font-family: 'Climate Crisis', cursive;
  font-size: 25px;
  font-weight: 400;
  color: var(--navbartxt);
}

.navbar .a-logo {
  text-decoration: none;
} 

.navbar {
  background-color: var(--bgnav);
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlist {
  background-color: var(--bgnav);
  list-style: none;
  display: flex;
  gap: 7rem;
}

.lsticos {
  display: none;
}

.navlist a {
  text-decoration: none;
  color: var(--inactive);
  background-color: var(--bgnav);
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.navlist #active {
  color: var(--text);
}

.navlist a:link,
.navlist a:visited {
  transition: all 0.5s;
}

.navlist a:hover,
.navlist a:active {
  transition: 0.5s;
  color: var(--text);
}

.navlist a:not(#active) {
  pointer-events: none;
}


/* ---------- SOCIALS ---------- */
.icos {
  background-color: var(--bgnav);
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

#socials {
  text-decoration: none;
  color: #3E4248;
  font-size: 20px;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
}

#socials:link,
#socials:visited {
  transition: all 0.5s;
}

#socials:hover,
#socials:active {
  color: #de8484;
  transition: 0.5s;
}

#mobilenav {
  display: none;
  background: transparent;
  cursor: pointer;
}

#mobilenav .navico {
  width: 3.3rem;
  height: 3.3rem;
  color: #43464c;
}

#mobilenav .navico[name = "close-outline"] {
  display: none;
}


/* ---------- HERO SECTION ---------- */
.home{
  /* margin-left: 20rem; */
  padding-top: 60;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes typewriter {
  to {
    left: 87%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.hero h5 {
  color: var(--inactive);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.home h1 {
  font-size: 10rem;
  position: relative;
  letter-spacing: 5px;
  color: var(--text);
   /* opacity: 0; */
}

/* .home h1::before,
.home h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home h1::before {
  background: var(--bg);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.home h1::after {
  width: 0.125em;
  background: var(--inactive);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
} */

.hero h3 {
  color: var(--navbartxt);
  font-size: 1.9rem;
  margin-top: 1rem;
  text-align: center;
  font-family: 'Apercu-R', sans-serif;
}


/* ---------- ABOUT PAGE ---------- */
.about {
  height: 90vh;
  position: relative;
  padding-top: 5rem;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 10rem;
  margin-bottom: 50px;
  color: var(--text);
}

.content{
  position: relative;
  width :1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image{
  position: relative;
  width: 800px;
  height: 400px;
  border: 2px var(--inactive);
  overflow: hidden;
}

.content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width :100%;
  height :100%;
  object-fit: cover;  
  border-radius: 10px;
}

.content .text-box{
  z-index: 222;
  color: var(--dulltxt);
  background: #45464B3a;
  backdrop-filter: blur(5rem) saturate(100%);;
  padding: 40px;
  max-width: 400px;
  border: 2.5px solid rgba(255, 255, 255, 0.003);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.text-box p {
  font-family: 'Apercu-R', sans-serif;
  font-size: 1.9rem;
  background-color: transparent;
}


/* ---------- MOBILE CSS ---------- */
@media (max-width: 62em) {
  
  .header {
    padding: 0 2rem;
  }

  .navlist {
    /* display: none; */
    width: 100%;
    height: 100vh;
    border-top: 2px white;
    background-color: var(--bg);
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    padding-top: 173px;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .lsticos {
    display: flex;
    gap: 3rem;
    margin-top: 17rem;
    font-size: 2rem;
  }

  .navlist a {
    font-size: 2rem;
  }

  .icos {
    display: none;
  }

  #mobilenav {
    display: flex;
    z-index: 999;
  }

  .active .navlist {
    transform: translateX(0);
    opacity: 1;
    visibility:  visible;
    pointer-events: auto;
  }

  .active #mobilenav .navico[name = "menu-outline"]{
    display: none;
  }

  .active #mobilenav .navico[name = "close-outline"]{
    display: flex;
  }

  .home{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 10rem;
    height: 65vh;
    justify-content: center;
    /* background-color: green; */
  }
  
  .hero h5 {
    font-size: 2.4;
    /* display: none; */
  }
  
  .hero h1 {
    color: var(--text);
    font-size: 4.7rem;
    margin-bottom: 2.5rem;
    text-align: center;
    letter-spacing: 0.5rem;
  }
  
  .hero h3 br {
    display: none;
  }

  .hero h3 {
    /* display: none; */
    color: var(--navbartxt);
    font-size: 2.5rem;
    font-family: 'Apercu-R', sans-serif;
    text-align: center;
  }
}
